<!DOCTYPE html>
<head>

  <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
  <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection"  />

</head>

<body>

<div class="site">
  <div class="title">
  <a href="/">Josh Monk</a>
  </div>

  {{ content }}

  <div class="footer">
    <div class="contact">
    <p>
       <a href="https://www.linkedin.com/in/monkjosh">linkedin.com/in/monkjosh<a/><br />
       <a href="https://www.kaggle.com/users/128824/josh"<a>/<br />
       <a href="https://github.com/monk2022"<a/><br />
    </p>
    </div>
  </div>
</div>

</body>
</html>





