<!DOCTYPE html>
<head>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</head>

<body>

<div class="page-header">
  <h1>Josh Monk
	<small>A site for managing my blog and side projects</small>
  </h1>
</div>

  {{ content }}


<footer class"bs-docs-footer" role="contentinfo">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>Connect</h5> 
	<ul class="bs-docs-footer-links muted">
           <li><a href="https://www.linkedin.com/in/monkjosh" rel="me">LinkedIn</a></li>
           <li><a href="https://www.kaggle.com/users/128824/josh" rel="me">Kaggle</a></li>
           <li><a href="https://github.com/monk2022" rel="me">Github</a></li>
           <li><a href="mailto:jmonk180@gmail.com" rel="me">Email</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

</body>
</html>

