<!DOCTYPE html>
<head>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</head>

<body>

<div class="page-header">
  <h1>Josh Monk
	<small>Subtext for Header </small>
  </h1>
</div>

  {{ content }}

<footer class="global-footer">

<ul class="list-inline">
        <li><a href="https://www.linkedin.com/in/monkjosh" rel="me">LinkedIn</a></li>
        <li><a href="https://www.kaggle.com/users/128824/josh" rel="me">Kaggle</a></li>
        <li><a href="https://github.com/monk2022" rel="me">Github</a></li>
        <li><a href="mailto:jmonk180@gmail.com" rel="me">Email</a></li>
</ul>

</footer>

</body>
</html>

